{
	"extends":"airbnb",
  "rules": {
    "import/extensions": ["error", "always"],
    "react/function-component-definition": [2, {
      "namedComponents": "arrow-function",
      "unnamedComponents": "arrow-function"
    }]
  },
  "globals": {
    "document": "readonly",
    "jQuery": "readonly",
    "window": "readonly"
  },
  "settings": {
    "import/resolver": {
      "alias": [
        ["assets", "./assets"],
        ["components", "./src/components"]
      ]
    }
  }
}